body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 57, 57);
}
#main{
    display: flex;
    justify-content: center; 
    height: 100%;
    width: 100%;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}
#wrapper{
    height: 60vh;
    display: flex;
    border-radius: 10px;
    border: 3px solid black;
    padding: 20px 50px;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
#wrapper i{
    font-size: 25px;
    pointer-events: none;
}
#image-container{
    height: 100%;
    width:50vw;
    overflow: hidden;
    padding: 0px 30px;
}
#image-carousel{
    display: flex;
    height: 100%;
    width: 100%;
    gap: 100px;
    position: relative;
    text-align: center;
    color: black;
}
#image-carousel img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    position: absolute;
    transition: 2s;
    padding: 0px 15px;

}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
button{
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
}
#navigation{
    width: 100vw;
    /* border: solid black 2px; */
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

#footer{
    width: 100vw;
    /* border: solid black 2px; */
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}


